# tex
# text.usetex : True

figure.figsize    : 6, 4
figure.autolayout : True
figure.dpi        : 96

image.aspect      : auto

# colors
text.color        : white
figure.facecolor  : black
xtick.color       : white
ytick.color       : white
axes.facecolor    : black
axes.edgecolor    : white
axes.labelcolor   : white
savefig.facecolor : black

# font sizes
font.size        : 11

# padding
xtick.major.pad : 6
xtick.minor.pad : 6
ytick.major.pad : 6
ytick.minor.pad : 6
axes.titlepad   : 8
axes.labelpad   : 8
