# tex
# text.usetex : True

# colors
text.color        : white
figure.facecolor  : black
xtick.color       : white
ytick.color       : white
axes.facecolor    : black
axes.edgecolor    : white
axes.labelcolor   : white
savefig.facecolor : black

# font sizes
font.size        : 15
axes.titlesize   : 15
axes.labelsize   : 15
xtick.labelsize  : 15
ytick.labelsize  : 15
legend.fontsize  : 15
figure.titlesize : 15

# padding
xtick.major.pad : 8
xtick.minor.pad : 8
ytick.major.pad : 8
ytick.minor.pad : 8
axes.titlepad   : 10
axes.labelpad   : 10
